body {
    background-image: url(images/calculate3.gif);
}

h1 {
    color: #29741f;
    font-family: serif;
    font-size: 33px;
    font-weight: bolder;
    line-height: 63px;
    margin: 0;
    height: 43px;
}

#main-container {
    background-color: #29741f;
    border: black solid;
}

#scores {
    font-family: monospace;
    font-size: 24px;
}

#currentScoreSpan {
    position: relative;
    left: 85px;
}

#topScoreSpan {
    position: relative;
    left: 59px;
}

#timeRemainingElement {
    position: relative;
    font-size: 50px;
    color: white;
    left: 50px;
}

input {
    font-size: 19px;
}